<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Equin.ApplicationFramework.BindingListView" version="1.4.5222.35545" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="Spire.Doc" version="11.5.6" targetFramework="net48" />
</packages>